<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Content - Kubernetes Today</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github.min.css"> <!-- GitHub-like style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 20px;
            background: #f0f4f8;
            color: #333;
        }
        header {
            background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
            color: white;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        nav {
            background: white;
            padding: 12px 20px;
            text-align: center;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
        }
        nav a {
            color: #007bff;
            font-weight: 700;
            margin: 0 15px;
            text-decoration: none;
            transition: color 0.3s ease, text-shadow 0.3s ease;
        }
        nav a:hover {
            color: #0056b3;
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
        }
        article {
            background: white;
            padding: 20px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        }
        article pre {
            position: relative;
            padding: 20px;
            background: #ffffff; /* Light background for code blocks */
            border: 1px solid #ccc; /* Subtle border for definition */
            border-radius: 8px;
            box-shadow: inset 0 0 10px rgba(0,0,0,0.05); /* Soft inner shadow for depth */
            overflow: auto; /* Adds scrollbars if necessary */
        }
        button.copy-btn { 
            position: absolute; 
            right: 5px; 
            top: 5px; 
            border: none; 
            background-color: #007bff; 
            color: white; 
            border-radius: 5px; 
            cursor: pointer; 
            padding: 5px 10px; 
        }
        button.copy-btn:hover { 
            background-color: #0056b3; 
        }
    </style>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        hljs.highlightAll();

        // Add copy buttons to all code blocks
        document.querySelectorAll('pre code').forEach(function (block) {
            var btn = document.createElement('button');
            btn.className = 'copy-btn';
            btn.textContent = 'Copy';
            btn.addEventListener('click', function () {
                navigator.clipboard.writeText(block.textContent).then(() => {
                    btn.textContent = 'Copied!';
                    setTimeout(() => { btn.textContent = 'Copy'; }, 2000);
                });
            });
            block.parentNode.insertBefore(btn, block);
        });
    });
    </script>    
</head>
<body>
    <header>
        <h1>Kubernetes Today</h1>
        <p>Welcome to your source for all things Kubernetes.</p>
    </header>
    <nav>
        <a href="index.html">Home</a>
        <a href="article.html">Markdown Demo</a>
        <a href="about.html">About</a>
    </nav>
    <article>
        <div>{{ content|safe }}</div>
    </article>
</body>
</html>
