<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category }} Articles</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 20px;
            background: #f0f4f8;
            color: #333;
        }
        header {
            background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
            color: white;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        header h1 {
            margin: 0;
            font-size: 28px;
        }
        nav {
            background: white;
            padding: 12px 20px;
            text-align: center;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
        }
        nav a {
            color: #007bff;
            font-weight: 700;
            margin: 0 15px;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        nav a:hover {
            color: #0056b3;
        }
        section {
            background: white;
            padding: 20px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        }
        article {
            font-size: 16px;
            line-height: 1.7;
        }
        article h2 {
            color: #333;
            font-size: 22px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            padding: 5px 0;
        }
        strong {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to {{ category }} Articles!</h1>
        <p>Explore articles in the "{{ category }}" category.</p>
    </header>    
    <nav>
        <a href="index.html">Home</a>
        {% for cat in categories %}
            <a href="{{ cat | replace(' ', '_') | lower }}.html">{{ cat }}</a>
        {% endfor %}
        <a href="about.html">About</a>
    </nav>
    <section>
        <h2>{{ category }} Articles</h2>
        <ul>
            {% for article in articles %}
                <li><a href="{{ article.slug }}.html">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>
