<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubernetes Today</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        /* General body styles */
        body {
            font-family: 'Roboto', sans-serif;
            margin: 20px;
            background: #f0f4f8;
            color: #333;
        }

        /* Header styles with gradient and shadow */
        header {
            background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
            color: white;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        /* Navigation styles */
        nav {
            background: white;
            padding: 12px 20px;
            text-align: center;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
        }

        nav a {
            color: #007bff;
            font-weight: 700;
            margin: 0 15px;
            text-decoration: none;
            transition: color 0.3s ease, text-shadow 0.3s ease;
        }

        nav a:hover {
            color: #0056b3;
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
        }

        /* Section styles */
        section {
            background: white;
            padding: 20px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
            transition: transform 0.3s ease;
        }

        section:hover {
            transform: translateY(-5px);
        }

        section h2 {
            color: #333;
            font-size: 22px;
        }

        section p {
            font-size: 16px;
            line-height: 1.7;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to Kubernetes Today!</h1>
        <p>Explore our extensive collection of articles on Kubernetes. Navigate through various categories to find content that best suits your interest.</p>
    </header>    
    <nav>
        <a href="index.html">Home</a>
        <!-- Dynamically generated category links -->
        {% for category in categories %}
        <a href="{{ category | replace(' ', '_') | lower }}.html">{{ category }}</a>
        {% endfor %}
        <a href="about.html">About</a>
    </nav>
    <section>
        <h2>Featured Article</h2>
        <p>This section could showcase a summary of your latest or most important articles about Kubernetes.</p>
    </section>
</body>
</html>
